In [316]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

from tensorflow import keras
from tensorflow.keras.models import Sequential
import tensorflow as tf

from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import LSTM, Dense
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error

In [317]:
df= pd.read_csv('../power/train.csv')

In [318]:
df['강수량(mm)'] = df['강수량(mm)'].fillna(0.0)

In [319]:
df.loc[df["num_date_time"] == "15_20220806 17", "풍속(m/s)"] = (2.7 + 2.4) / 2

In [320]:
df.loc[df["num_date_time"] == "26_20220627 16", "풍속(m/s)"] = (1.0 + 0.75) / 2

In [321]:
df.loc[df["num_date_time"] == "97_20220806 15", "풍속(m/s)"] = (5.0 + 3.0) / 2
df.loc[df["num_date_time"] == "97_20220806 16", "풍속(m/s)"] = (5.0 + 3.0) / 2

In [322]:
df.loc[df["num_date_time"] == "9_20220614 11", "풍속(m/s)"] = (3.8 + 4.6) / 2

In [323]:
df.loc[df["num_date_time"] == "16_20220803 15", "풍속(m/s)"] = (3.9 + 3.8) / 2

In [324]:
df.loc[df["num_date_time"] == "26_20220627 17", "풍속(m/s)"] = (1.0 + 0.5) / 2

In [325]:
df.loc[df["num_date_time"] == "26_20220709 09", "풍속(m/s)"] = (0.0 + 1.0) / 2

In [326]:
df.loc[df["num_date_time"] == "42_20220703 10", "풍속(m/s)"] = (0.9 + 1.7) / 2

In [327]:
df.loc[df["num_date_time"] == "50_20220703 10", "풍속(m/s)"] = (0.9 + 1.7) / 2

In [328]:
df.loc[df["num_date_time"] == "52_20220806 15", "풍속(m/s)"] = (5.0 + 3.0) / 2
df.loc[df["num_date_time"] == "52_20220806 16", "풍속(m/s)"] = (5.0 + 3.0) / 2

In [329]:
df.loc[df["num_date_time"] == "87_20220714 05", "풍속(m/s)"] = (1.4 + 1.3) / 2
df.loc[df["num_date_time"] == "87_20220714 06", "풍속(m/s)"] = (1.4 + 1.3) / 2
df.loc[df["num_date_time"] == "87_20220714 07", "풍속(m/s)"] = (1.4 + 1.3) / 2
df.loc[df["num_date_time"] == "87_20220714 08", "풍속(m/s)"] = (1.4 + 1.3) / 2
df.loc[df["num_date_time"] == "87_20220714 09", "풍속(m/s)"] = (1.4 + 1.3) / 2

In [330]:
df.loc[df["num_date_time"] == "90_20220806 17", "풍속(m/s)"] = (1.3 + 2.7) / 2

In [331]:
df.loc[df["num_date_time"] == "90_20220806 15", "풍속(m/s)"] = (5.0 + 3.0) / 2
df.loc[df["num_date_time"] == "90_20220806 16", "풍속(m/s)"] = (5.0 + 3.0) / 2

In [332]:
df.loc[df["num_date_time"] == "100_20220608 15", "풍속(m/s)"] = (1.9 + 1.6) / 2

In [333]:
df.loc[df["num_date_time"] == "100_20220723 03", "풍속(m/s)"] = (0.0 + 0.0) / 2

In [334]:
df.loc[df["num_date_time"] == "9_20220614 11", "습도(%)"] = (94.0 + 91.0) / 2

In [335]:
df.loc[df["num_date_time"] == "9_20220614 11", "습도(%)"] = (54.0 + 92.0) / 2

In [336]:
df.loc[df["num_date_time"] == "87_20220714 05", "습도(%)"] = (100.0 + 90.0) / 2
df.loc[df["num_date_time"] == "87_20220714 06", "습도(%)"] = (100.0 + 90.0) / 2
df.loc[df["num_date_time"] == "87_20220714 07", "습도(%)"] = (100.0 + 90.0) / 2
df.loc[df["num_date_time"] == "87_20220714 08", "습도(%)"] = (100.0 + 90.0) / 2
df.loc[df["num_date_time"] == "87_20220714 09", "습도(%)"] = (100.0 + 90.0) / 2

In [337]:
df.loc[df["num_date_time"] == "90_20220806 17", "습도(%)"] = (54.0 + 56.0) / 2

In [338]:
df.loc[df["num_date_time"] == "100_20220608 15", "습도(%)"] = (52.0 + 53.0) / 2

In [339]:
df.loc[df["num_date_time"] == "15_20220806 17", "습도(%)"] = (54.0 + 56.0) / 2

In [340]:
df['일조(hr)'].fillna(round(df['일조(hr)'].mean(),2), inplace=True)

In [341]:
df['일사(MJ/m2)'].fillna(round(df['일사(MJ/m2)'].mean(),2), inplace=True)

In [342]:
df = df.drop(['num_date_time'], axis=1)

In [343]:
df.head()

,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1,20220601 00,18.6,0.0,0.9,42.0,0.33,1.06,1085.28
1,1,20220601 01,18.0,0.0,1.1,45.0,0.33,1.06,1047.36
2,1,20220601 02,17.7,0.0,1.5,45.0,0.33,1.06,974.88
3,1,20220601 03,16.7,0.0,1.4,48.0,0.33,1.06,953.76
4,1,20220601 04,18.4,0.0,2.8,43.0,0.33,1.06,986.40

In [344]:
df = df.drop(['일조(hr)','일사(MJ/m2)'], axis=1)

In [345]:
df['연월일'] = df['일시'].apply(lambda x : int(x[:8]))

In [346]:
df['시간'] = df['일시'].apply(lambda x : int(x[9:11]))

In [347]:
df.head()

   건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)       연월일  시간
0     1  20220601 00   18.6      0.0      0.9   42.0     1085.28  20220601   0
1     1  20220601 01   18.0      0.0      1.1   45.0     1047.36  20220601   1
2     1  20220601 02   17.7      0.0      1.5   45.0      974.88  20220601   2
3     1  20220601 03   16.7      0.0      1.4   48.0      953.76  20220601   3
4     1  20220601 04   18.4      0.0      2.8   43.0      986.40  20220601   4

In [348]:
df = df.drop(['일시'], axis=1)

In [349]:
df = df[["연월일", "시간", "건물번호","기온(C)", "강수량(mm)", "풍속(m/s)", "습도(%)","전력소비량(kWh)"]]
df.head()

        연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)
0  20220601   0     1   18.6      0.0      0.9   42.0     1085.28
1  20220601   1     1   18.0      0.0      1.1   45.0     1047.36
2  20220601   2     1   17.7      0.0      1.5   45.0      974.88
3  20220601   3     1   16.7      0.0      1.4   48.0      953.76
4  20220601   4     1   18.4      0.0      2.8   43.0      986.40

In [264]:
df1 = df[df["연월일"].isin([20220604, 20220605])].reset_index(drop=True)

In [265]:
df1.head()

        연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)
0  20220604   0     1   22.3      0.0      2.2   76.0     1203.84
1  20220604   1     1   21.6      0.0      1.7   81.0     1119.36
2  20220604   2     1   21.5      0.0      0.6   82.0     1026.72
3  20220604   3     1   21.4      0.0      1.0   81.0      992.64
4  20220604   4     1   21.0      0.0      0.9   83.0     1022.88

In [266]:
df_weekend = df[df["연월일"].isin([20220604, 20220605,20220611,20220612,20220618,20220619,2020624,20220625,20220606,
                                20220702,20220703,20220709,20220710,20220716,20220717,20220723,20220724,202220730,20220731,
                                20220806,20220807,20220813,20220814,20220815,20220820,20220821])]

In [267]:
df_weekend

             연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)
72      20220604   0     1   22.3      0.0      2.2   76.0     1203.84
73      20220604   1     1   21.6      0.0      1.7   81.0     1119.36
74      20220604   2     1   21.5      0.0      0.6   82.0     1026.72
75      20220604   3     1   21.4      0.0      1.0   81.0      992.64
76      20220604   4     1   21.0      0.0      0.9   83.0     1022.88
...          ...  ..   ...    ...      ...      ...    ...         ...
203923  20220821  19   100   27.9      0.0      0.7   78.0     1097.52
203924  20220821  20   100   26.5      0.0      0.6   85.0      981.12
203925  20220821  21   100   25.4      0.0      0.3   90.0      924.72
203926  20220821  22   100   24.9      0.0      0.3   94.0      881.52
203927  20220821  23   100   24.3      0.0      0.2   97.0      676.56

[57600 rows x 8 columns]

In [350]:
df_day = df[~df["연월일"].isin([20220604, 20220605,20220611,20220612,20220618,20220619,2020624,20220625,20220606,
                                20220702,20220703,20220709,20220710,20220716,20220717,20220723,20220724,202220730,20220731,
                                20220806,20220807,20220813,20220814,20220815,20220820,20220821])]

In [351]:
df_day.head

<bound method NDFrame.head of              연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)
0       20220601   0     1   18.6      0.0      0.9   42.0     1085.28
1       20220601   1     1   18.0      0.0      1.1   45.0     1047.36
2       20220601   2     1   17.7      0.0      1.5   45.0      974.88
3       20220601   3     1   16.7      0.0      1.4   48.0      953.76
4       20220601   4     1   18.4      0.0      2.8   43.0      986.40
...          ...  ..   ...    ...      ...      ...    ...         ...
203995  20220824  19   100   23.1      0.0      0.9   86.0      881.04
203996  20220824  20   100   22.4      0.0      1.3   86.0      798.96
203997  20220824  21   100   21.3      0.0      1.0   92.0      825.12
203998  20220824  22   100   21.0      0.0      0.3   94.0      640.08
203999  20220824  23   100   20.7      0.0      0.1   95.0      540.24

[146400 rows x 8 columns]>

In [270]:
#만약 시간대별로 나누어서 학습할거면 8시~20시, 나머지

In [271]:
#주말.휴일 학습

In [352]:
df_day

             연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)
0       20220601   0     1   18.6      0.0      0.9   42.0     1085.28
1       20220601   1     1   18.0      0.0      1.1   45.0     1047.36
2       20220601   2     1   17.7      0.0      1.5   45.0      974.88
3       20220601   3     1   16.7      0.0      1.4   48.0      953.76
4       20220601   4     1   18.4      0.0      2.8   43.0      986.40
...          ...  ..   ...    ...      ...      ...    ...         ...
203995  20220824  19   100   23.1      0.0      0.9   86.0      881.04
203996  20220824  20   100   22.4      0.0      1.3   86.0      798.96
203997  20220824  21   100   21.3      0.0      1.0   92.0      825.12
203998  20220824  22   100   21.0      0.0      0.3   94.0      640.08
203999  20220824  23   100   20.7      0.0      0.1   95.0      540.24

[146400 rows x 8 columns]

In [ ]:
'''df['연도'] = df['일시'].apply(lambda x : int(x[:4]))
df['월'] = df['일시'].apply(lambda x : int(x[4:6]))
df['일'] = df['일시'].apply(lambda x : int(x[6:8]))
df['시간'] = df['일시'].apply(lambda x : int(x[9:11]))'''

In [ ]:
'''df = df.drop(['일시','연도'], axis=1)'''

In [ ]:
'''df = df[["월","일", "시간", "건물번호","기온(C)", "강수량(mm)", "풍속(m/s)", "습도(%)", "일조(hr)", "일사(MJ/m2)","전력소비량(kWh)"]]
df.head()'''

In [353]:
# 정규화하기
# MinMaxScaler 클래스 생성
scaler = MinMaxScaler()

# MinMaxScaler 클래스의 fit_transform() 메서드 사용 데이터 정규화
normalized_data = scaler.fit_transform(df_day)

# 정규화된 데이터, 데이터 프레임으로 다시 변환
ndf = pd.DataFrame(normalized_data, columns=df_day.columns)

In [354]:
X = ndf.iloc[:, :-1]
y = ndf.iloc[:,[-1]]

In [355]:
X.head()

   연월일        시간  건물번호     기온(C)  강수량(mm)   풍속(m/s)     습도(%)
0  0.0  0.000000   0.0  0.314815      0.0  0.067669  0.333333
1  0.0  0.043478   0.0  0.292593      0.0  0.082707  0.367816
2  0.0  0.086957   0.0  0.281481      0.0  0.112782  0.367816
3  0.0  0.130435   0.0  0.244444      0.0  0.105263  0.402299
4  0.0  0.173913   0.0  0.307407      0.0  0.210526  0.344828

In [356]:
y.head()

   전력소비량(kWh)
0    0.042579
1    0.041092
2    0.038248
3    0.037419
4    0.038700

In [357]:
model = RandomForestRegressor()

In [358]:
model.fit(X, y)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7768\2489992722.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)

RandomForestRegressor()

In [359]:
test = pd.read_csv('../power/test.csv')

In [360]:
test.head()

   num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0  1_20220825 00     1  20220825 00   23.5      0.0      2.2     72
1  1_20220825 01     1  20220825 01   23.0      0.0      0.9     72
2  1_20220825 02     1  20220825 02   22.7      0.0      1.5     75
3  1_20220825 03     1  20220825 03   22.1      0.0      1.3     78
4  1_20220825 04     1  20220825 04   21.8      0.0      1.0     77

In [ ]:
'''test['연도'] = test['일시'].apply(lambda x : int(x[:4]))
test['월'] = test['일시'].apply(lambda x : int(x[4:6]))
test['일'] = test['일시'].apply(lambda x : int(x[6:8]))
test['시간'] = test['일시'].apply(lambda x : int(x[9:11]))'''

In [ ]:
'''test['연도'] = test['일시'].apply(lambda x : int(x[:4]))
test['월'] = test['일시'].apply(lambda x : int(x[4:6]))
test['일'] = test['일시'].apply(lambda x : int(x[6:8]))
test['시간'] = test['일시'].apply(lambda x : int(x[9:11]))'''

In [361]:
test['연월일'] = test['일시'].apply(lambda x : int(x[:8]))

In [362]:
test['시간'] = test['일시'].apply(lambda x : int(x[9:11]))

In [363]:
test = test.drop(['일시','num_date_time'], axis=1)

In [364]:
test.head()

   건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)       연월일  시간
0     1   23.5      0.0      2.2     72  20220825   0
1     1   23.0      0.0      0.9     72  20220825   1
2     1   22.7      0.0      1.5     75  20220825   2
3     1   22.1      0.0      1.3     78  20220825   3
4     1   21.8      0.0      1.0     77  20220825   4

In [365]:
test = test[["연월일", "시간", "건물번호","기온(C)", "강수량(mm)", "풍속(m/s)", "습도(%)"]]

In [286]:
#test_day = test[~test["연월일"].isin([20220827,20220828])]

In [366]:
test.head()

        연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0  20220825   0     1   23.5      0.0      2.2     72
1  20220825   1     1   23.0      0.0      0.9     72
2  20220825   2     1   22.7      0.0      1.5     75
3  20220825   3     1   22.1      0.0      1.3     78
4  20220825   4     1   21.8      0.0      1.0     77

In [367]:
# 정규화하기
# MinMaxScaler 클래스 생성
scaler = MinMaxScaler()

# MinMaxScaler 클래스의 fit_transform() 메서드 사용 데이터 정규화
normalized_data = scaler.fit_transform(test)

# 정규화된 데이터, 데이터 프레임으로 다시 변환
tndf = pd.DataFrame(normalized_data, columns=test.columns)

In [368]:
#예측하기
test_pred = model.predict(tndf)

In [369]:
tndf['pred']=test_pred

In [370]:
# 역정규화
min_value = 0.0
max_value = 25488.4
tndf['real_pred'] = tndf['pred'] * (max_value - min_value) + min_value

In [371]:
#제출
submission = pd.read_csv('../power/sample_submission.csv')
submission['answer'] = tndf['real_pred']

In [293]:
#submission_weekday['answer'] = tndf['real_pred']
#submission_weekday.head()

   num_date_time     answer       연월일
0  1_20220825 00  1097.0736  20220825
1  1_20220825 01  1045.4880  20220825
2  1_20220825 02   984.1920  20220825
3  1_20220825 03   980.1648  20220825
4  1_20220825 04   979.0752  20220825

In [372]:
submission.to_csv('../power/power_20230813.csv', index=  False)

In [373]:
submission.head()

   num_date_time     answer
0  1_20220825 00  1335.3552
1  1_20220825 01  1048.6896
2  1_20220825 02   994.7328
3  1_20220825 03   972.9408
4  1_20220825 04   965.0448

In [ ]:
#주말

In [374]:
df_weekend

             연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  전력소비량(kWh)
72      20220604   0     1   22.3      0.0      2.2   76.0     1203.84
73      20220604   1     1   21.6      0.0      1.7   81.0     1119.36
74      20220604   2     1   21.5      0.0      0.6   82.0     1026.72
75      20220604   3     1   21.4      0.0      1.0   81.0      992.64
76      20220604   4     1   21.0      0.0      0.9   83.0     1022.88
...          ...  ..   ...    ...      ...      ...    ...         ...
203923  20220821  19   100   27.9      0.0      0.7   78.0     1097.52
203924  20220821  20   100   26.5      0.0      0.6   85.0      981.12
203925  20220821  21   100   25.4      0.0      0.3   90.0      924.72
203926  20220821  22   100   24.9      0.0      0.3   94.0      881.52
203927  20220821  23   100   24.3      0.0      0.2   97.0      676.56

[57600 rows x 8 columns]

In [375]:
# 정규화하기
# MinMaxScaler 클래스 생성
scaler = MinMaxScaler()

# MinMaxScaler 클래스의 fit_transform() 메서드 사용 데이터 정규화
normalized_data = scaler.fit_transform(df_weekend)

# 정규화된 데이터, 데이터 프레임으로 다시 변환
ndf = pd.DataFrame(normalized_data, columns=df_weekend.columns)

In [376]:
X = ndf.iloc[:, :-1]
y = ndf.iloc[:,[-1]]

In [377]:
model = RandomForestRegressor()

In [378]:
model.fit(X, y)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7768\2489992722.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)

RandomForestRegressor()

In [381]:
test = pd.read_csv('../power/test.csv')

In [ ]:
test.head()

In [382]:
test['연월일'] = test['일시'].apply(lambda x : int(x[:8]))

In [383]:
test['시간'] = test['일시'].apply(lambda x : int(x[9:11]))

In [384]:
test = test[["연월일", "시간", "건물번호","기온(C)", "강수량(mm)", "풍속(m/s)", "습도(%)"]]

In [386]:
test.head()

        연월일  시간  건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0  20220825   0     1   23.5      0.0      2.2     72
1  20220825   1     1   23.0      0.0      0.9     72
2  20220825   2     1   22.7      0.0      1.5     75
3  20220825   3     1   22.1      0.0      1.3     78
4  20220825   4     1   21.8      0.0      1.0     77

In [387]:
# 정규화하기
# MinMaxScaler 클래스 생성
scaler = MinMaxScaler()

# MinMaxScaler 클래스의 fit_transform() 메서드 사용 데이터 정규화
normalized_data = scaler.fit_transform(test_weekend)

# 정규화된 데이터, 데이터 프레임으로 다시 변환
tndf = pd.DataFrame(normalized_data, columns=test_weekend.columns)

In [388]:
test_pred = model.predict(tndf)

In [389]:
tndf['pred']=test_pred

In [390]:
# 역정규화
min_value = 0.0
max_value = 25488.4
tndf['real_pred'] = tndf['pred'] * (max_value - min_value) + min_value

In [391]:
submission = pd.read_csv('../power/sample_submission.csv')

In [392]:
submission.head()

   num_date_time  answer
0  1_20220825 00       0
1  1_20220825 01       0
2  1_20220825 02       0
3  1_20220825 03       0
4  1_20220825 04       0

In [393]:
submission['answer'] = tndf['real_pred']

In [394]:
submission.to_csv('../power/power_2023081311.csv', index=  False)

In [ ]:
#합치기

In [214]:
answer1 = pd.read_csv('../power/power_weekday2.csv')
answer2 = pd.read_csv('../power/power_weekend2.csv')

In [314]:
answer1

         num_date_time     answer
0        1_20220825 00  1114.5456
1        1_20220825 01  1052.4192
2        1_20220825 02   989.8848
3        1_20220825 03   990.9936
4        1_20220825 04   983.7504
...                ...        ...
16795  100_20220831 19        NaN
16796  100_20220831 20        NaN
16797  100_20220831 21        NaN
16798  100_20220831 22        NaN
16799  100_20220831 23        NaN

[16800 rows x 2 columns]

In [315]:
answer2

         num_date_time       answer
0        1_20220825 00  1352.063171
1        1_20220825 01  1278.061200
2        1_20220825 02  1170.887744
3        1_20220825 03  1178.553313
4        1_20220825 04  1175.781359
...                ...          ...
16795  100_20220831 19          NaN
16796  100_20220831 20          NaN
16797  100_20220831 21          NaN
16798  100_20220831 22          NaN
16799  100_20220831 23          NaN

[16800 rows x 2 columns]

In [ ]:
# 22년 8월 25일은 평일....